New Undergraduate and Graduate Students: Immunization Compliance - Northwestern University
Skip to main content
New Undergraduate and Graduate Students
The requirements listed below are for non-healthcare undergraduate, graduate, professional studies, non-degree, or professional program students.
Students registered for two or more classes are required by Northwestern University and Illinois State Law to submit proof of immunizations. Please
submit documentation online
for all of the required vaccinations listed below.
Required Vaccinations
Note: If you have no immunization records, you have the option to complete blood tests to prove immunity to Measles, Mumps and Rubella or be revaccinated. Revaccination is the only option for the Tetanus/Diphtheria/Pertussis requirement and an extension may be granted to complete the three dose series after the deadline, when necessary.
2 doses required
. Both must be:
Done on or after 1st birthday
Done at least 28 days apart
Done after 1/1/68 (for Measles/Rubeola)
Or submit a copy of lab report (titer):
Confirming Measles/Rubeola immunity (antibodies)
Confirming Mumps immunity (antibodies)
Confirming Rubella immunity (antibodies)
Up to 3 doses of DTP, DTaP, DT, Td, or Tdap are required.
If 3 doses, the first 2 doses must be at least 28 days apart.
One dose must be a
Tdap
completed within
10 years
prior to entrance into Northwestern University and at least 6 months after the last primary series vaccination.
Brand names for
Tdap
are:
Boostrix
®,
Adacel
®,
Repevax
®,
or Refortrix
®.
Required only for undergraduate students under 22
at the start of classes:
Must have been completed at
16 years of age or older
.
Brand names are
MenACWY
,
Menactra
®,
Menveo
®,
MenQuadfi
®, or
Nimenrix
®.
TB Risk Questionnaire is required to be completed in our
Health Portal
.
TB Test is only needed if specified by the Risk Questionnaire.
Submit proof of a TB test performed
within 6 months prior to entrance to Northwestern
:
Completed in any country: A copy of Interferon-Gamma Release Assay
(IGRA)
lab report must be submitted — Includes
QuantiFERON
®
TB Gold
and
T-SPOT
® blood test.
Completed only in the USA: A TB skin test (
PPD
) with supply date placed, date read and result in mm induration
A chest x-ray alone will not complete this TB testing.
Note: If the Interferon-Gamma Release Assay (IGRA) blood test result is positive or the PPD is >= 10mm positive,
a chest x-ray ONLY performed in the USA within the last 6 months prior to entrance to Northwestern University along with the provider’s summary/letter upon the appointment with the provider must be completed and submitted
.
Submission Guidelines
Vaccination dates should be listed in month/day/year format.
All records must be submitted in English — a translation by the student with copies of the original records is acceptable.
Submit your documentation online to the immunization
Health Portal
.